forms#index


<%= form_with url: '/search', class: 'grid grid-cols-3 gap-2 w-full max-w-screen-sm', method: :get do |form| %>
  <% card_content = image_tag('advanced_plan_icon.png', size: '40x40', alt: 'Edit Entry') +
    content_tag(
      :div,
      content_tag(:span, 'Arcade', class: 'text-base font-bold') +
      content_tag(:span, '$90/yr', class: 'text-sm mt-2') +
      content_tag(:span, '2 months free', class: 'text-xs mt-1.5'),
      class: 'flex flex-col'
    )
  %>

    <div>
      <%= form.radio_button :country, 'Colombia', class: 'hidden' %>
      <%= form.label(:country_colombia,
        card_content,
        class: 'flex sm:flex-col flex-row justify-between sm:w-36 sm:h-44 p-2.5 rounded-lg border border-gray-400 cursor-pointer'
      ) %>
		</div>
<% end %>