<% card_content = image_tag(icon[:url], size: icon[:size], alt: icon[:alt]) +
    content_tag(
      :div,
      content_tag(:span, plan[:name], class: 'text-base font-bold') +
      content_tag(:span, plan[:price], class: 'text-sm mt-2 text-soft-gray') +
      content_tag(:span, plan[:note], class: 'text-xs mt-1.5'),
      class: 'flex flex-col'
    )
%>

<div>
  <%= form.radio_button(
    "#{name}".downcase.to_sym,
    "#{value}".downcase.to_sym,
    class: 'hidden'
  )%>
  <%= form.label(
    "#{name.downcase}_#{value.downcase}".to_sym,
    card_content,
    class: 'flex sm:flex-col flex-row justify-between
      sm:w-36 sm:h-44
      p-5
      rounded-lg border border-soft-gray
      cursor-pointer
      hover:border-purple'
  ) %>
</div>
