<% card_content = content_tag(
      :div,
      content_tag(
        :div,
        content_tag(
          :span,
          addon[:name],
          class: 'text-xl font-bold'
        ) +
        content_tag(
          :span,
          addon[:note],
          class: 'text-base text-soft-gray'
        ),
        class: 'flex flex-col justify-center gap-1'
      ),
      class: 'flex flex-col justify-center mx-2'
    ) +
    content_tag(
      :div,
      content_tag(
        :span,
        addon[:price],
        class: 'text-base text-purple'
      ),
      class: 'flex flex-col justify-center'
    )
%>

<div>
  <%= form.check_box(
      "#{name.downcase}".to_sym,
      {class: 'peer relative top-12 left-5 center checked:bg-purple checked:border-transparent z-10'}
    ) %>
    <%= form.label(
    "#{name.downcase}".to_sym,
    card_content,
    class: '
      block
      relative
      z-0
      flex
      justify-between
      w-full
      px-10
      py-5
      rounded-lg
      cursor-pointer
      border
      border-soft-gray
      hover:border-purple
      peer-checked:bg-dark-white
      peer-checked:border-purple'
  ) %>
</div>




