<div class="min-h-full flex flex-col mb-2">
  <%= form.label(
    key,
    label_text,
    class: 'block text-base font-bold'
  ) %>
  <span class="block text-base text-red-500">
    <%= error_message %>
  </span>
  <%= form_helper %>
</div>
