<% card_content = content_tag(
      :div,
      image_tag(icon[:url], size: icon[:size], alt: icon[:alt]),
      class: "w-10 h-10"
    ) +
    content_tag(
      :div,
      content_tag(
        :span,
        plan[:name],
        class: 'text-base font-bold'
      ) +
      content_tag(
        :span,
        plan[:price],
        class: 'text-sm mt-2 text-soft-gray'
      ) +
      content_tag(
        :span,
        plan[:note],
        class: "text-xs mt-1.5 #{'hidden' unless plan[:note]}"
      ),
      class: 'flex flex-col'
    )
%>

<div>
  <%= form.radio_button(
    "#{name}".downcase.to_sym,
    "#{value}".downcase.to_sym,
    class: 'hidden hidden-radio-for-card'
  )%>
  <%= form.label(
    "#{name.downcase}_#{value.downcase}".to_sym,
    card_content,
    class: 'flex
      sm:flex-col flex-row
      sm:justify-between justify-start
      sm:gap-0 gap-5
      sm:w-36 w-full
      sm:h-44
      p-5
      border
      border-soft-gray
      rounded-lg
      cursor-pointer
      hover:border-purple'
  ) %>
</div>
